<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

    <application>
        <activity
            android:name=".GestureActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HandGestureSdk" />
    </application>

</manifest>
